<!DOCTYPE html>
<html>
<head>
    <title>URecycle Material Selection</title>
</head>
<body>
    <h1>URecycle Material Selection</h1>
    <form method="GET" action="{{ url_for('search') }}">
        <label for="material">Select Material:</label><br>
        <input type="radio" name="material" value="Paper"> Paper<br>
        <input type="radio" name="material" value="Plastic"> Plastic<br>
        <input type="radio" name="material" value="Glass"> Glass<br>
        <input type="radio" name="material" value="Metal"> Metal<br>
        <input type="radio" name="material" value="Oil"> Oil<br>
        <input type="radio" name="material" value="Batteries"> Batteries<br>
        <input type="radio" name="material" value="Electronics"> Electronics<br><br>

        <label for="zip">Enter ZIP Code:</label><br>
        <input type="text" name="zip" required><br><br>

        <label for="distance">Maximum Distance:</label><br>
        <input type="text" name="distance" required><br><br>

        <input type="submit" value="Search">
    </form>
</body>
</html>